<div class="show-cocktail">
  <div class="img-title">
    <div class="img" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path @cocktail.photo %>')"></div>
    <div class="title">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
  <div class="content">
    <div class="content-body">
    <h2>Ingredients</h2>
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li> <span class="ingredient"> <%= dose.ingredient.name %></span> <span class="dose"> <%= dose.description  %> </span> <span><%= link_to "", delete_dose_path(dose), class: "fas fa-eraser", method: :delete %></span></li>
      <% end  %>
      </ul>
    </div>
    <div class="footer">
      <div class="ingredient-form">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :ingredient_id, collection: Ingredient.all %>
          <%= f.input :description %>
          <%= f.button :submit, class: "button-add" %>
        <% end %>
      </div>
      <p> <%= link_to 'Back to the list', cocktails_path, class: "buttonback" %> </p>
  </div>
  </div>
</div>
